<div class="footer">
    <div class="GlobalFooter u-wrapper" data-reactid="2">
        <div class="MenuFooter" data-reactid="3">
            <a href="/faq/" class="MenuFooterOption" data-reactid="4">Preguntas frecuentes</a>
            <a href="/contacto/" class="MenuFooterOption" data-reactid="5">Contáctanos</a>
            <a href="/prensa/" class="MenuFooterOption" data-reactid="6">Prensa</a>
            <a href="/conf/todas/" class="MenuFooterOption" data-reactid="7">Conferencias</a>
            <a href="/tos/" class="MenuFooterOption" data-reactid="8">Términos y Condiciones</a>
            <a href="/privacidad/" class="MenuFooterOption" data-reactid="9">Privacidad</a>
            <a href="/historias/" class="MenuFooterOption" data-reactid="10">Estudiantes</a>
            <a href="/hola/" class="MenuFooterOption" data-reactid="11">Hola</a>
        </div>
        
        <div class="SubscribeSection" data-reactid="19">
            <div class="SubscribeSection-copy" data-reactid="20">
                <span data-reactid="21">Entérate de todas las novedades en educación, negocios y tecnología</span>
            </div>
            <form method="post" class="SubscribeSection-form" data-reactid="22">
                <input type="hidden" name="origin" value="footer_subscription" data-reactid="23">
                <input type="email" autocomplete="off" value="" class="form-control" placeholder="Correo electrónico" name="email" data-reactid="24">
                <button class="btn btn-sky btn--medium" data-reactid="25">
                    <span data-reactid="26">Suscríbete</span>
                </button>
            </form>
        </div>
        <div class="Social" data-reactid="27">
            <p data-reactid="28">
                <span data-reactid="29">Ver todas</span>
            </p>
            <div class="SocialItems" data-reactid="30">
                <a href="https://twitter.com/platzi" class="SocialItem" target="_blank" data-reactid="31">
                    <span class="icon-twt" data-reactid="32"></span>
                </a>
                <a href="https://www.youtube.com/channel/UC55-mxUj5Nj3niXFReG44OQ" class="SocialItem" target="_blank" data-reactid="33">
                    <span class="icon-youtube-play" data-reactid="34"></span>
                </a>
                <a href="https://facebook.com/platzi" class="SocialItem" target="_blank" data-reactid="35">
                    <span class="icon-fcbk" data-reactid="36"></span>
                </a>
                <a href="https://www.instagram.com/platzi/" class="SocialItem" target="_blank" data-reactid="37">
                    <span class="icon-instagram" data-reactid="38"></span>
                </a>
            </div>
        </div>
        <div class="AwardsSection" data-reactid="44">
            <p data-reactid="45">
                <span data-reactid="46">Reconocidos y premiados por</span>
            </p>
        </div>
        <div class="Love" data-reactid="56">
            <div class="Love-separator" data-reactid="57"></div>
            <p data-reactid="58">
                <span data-reactid="59">De LATAM con </span>
                <span class="icon-heart" data-reactid="60"></span>
                <!-- react-text: 61 -->
                <!-- /react-text -->
                <span data-reactid="62">para el mundo</span>
            </p>
        </div>
    </div>
</div>