.todo {
    width: 100%;
    /* background-image: url("https://cdn-3.expansion.mx/dims4/default/65d1b89/2147483647/strip/true/crop/837x837+417+0/resize/1200x1200!/quality/90/?url=https%3A%2F%2Fcherry-brightspot.s3.amazonaws.com%2F18%2Fe9%2F41595b184efaa4375bd0fe5f2ff4%2Fistock-642438552.jpg"); */
    /* The image used */
    background-color: white;
    /* Used if the image is unavailable */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    /* Resize the background image to cover the entire container */
    height: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    vertical-align: middle;
}

.perfil{
    width: 20%;
    height: 565px;
    text-align: center;
    background-color: white;
    
    /* -webkit-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75); */
    border-radius: 5px;
}
.imagenPerfil{
    height: 40%;
    opacity: 1;
    background-color:white;
    border-radius: 5px;
    /* -webkit-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75); */
}
.nombrePerfil{
    width: 90%;
    font-family: 'Philosopher', sans-serif;
    font-size: 10px;
    margin: 1% 0 0 4%; 
}
.informacionPerfil{
    width: 100%;
    height: 25%;
}
.modificarPerfil{
    width: 43%;
    height: 6%;
    margin: auto;
}
.elementosPerfil{
    width: 100%;
    height: 540px;

}
.campos{
    width: 100%;
    height: 8%;
    /* background-color:rgb(64, 150, 118);
    -webkit-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    border-radius: 5px; */
}
.contenido{
    display: flex;
    width: 100%;
    opacity: 0.9;
    margin-top: 16px;
    margin-bottom: 5px;
    padding: 16px;
    border-radius: 8px;
    height: 475px;
    overflow-y:scroll;
    border-radius: 5px;
  }
  .imagenLista{
      width: 70px;
      height: 80px;
      margin-right: 15px;
  }
  .infoLista{

    width: 90%;
    height: 70px;
    margin: 5px;
}
.cartaOferta{
    width: 45%;
    border-radius: 3%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
}
.headerCarta{
  margin: 4px;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-image: url('https://image.freepik.com/foto-gratis/retrato-hombre-maduro-que-hace-simbolo-exito_1149-1896.jpg?3');
  background-size: cover;
}
.imagenOferta{
    width: 98%;
    height: 200px;
    margin: 1%;
    margin-top: 10px;
}
.headerCartaOferta{
    background-color: #32936F;
    padding: 2px;
    -webkit-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}
.boton{
    background-color: #32936F;
    position: relative;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.carta{
    padding: 10px;
}
.descripcion{
    border-bottom: 1px solid #32936F;
    padding: 3px;
    text-align: justify;
    font-size: 12px;

}
.subtitulo h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.dato h2 {
    font-size: 16px;
    font-family: 'Gabriela', serif;
    margin-top: 5px
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }