
<div class="general">
  <div class="relleno">
  <div style="margin-top:5px; text-align: center">
    <h1>Publica Tu Demanda</h1>
  </div>
 <div class="logoContainer">
   <div class="logoDemanda">
   <i class="fa fa-users" aria-hidden="true"></i>
 </div>
</div>
    <!--Step-->
    <div class="steper">
        <mat-horizontal-stepper linear #stepper class="headerStep">
            <mat-step [stepControl]="firstFormGroup" errorMessage="Producto Requerido">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Nombre Del Producto</ng-template>
                <div class="paso">
                <mat-form-field class="nombreProducto">
                  <input matInput placeholder="Nombre del Producto" formControlName="firstCtrl" required>
                </mat-form-field>
                </div>
                <div>
                  <button mat-button matStepperNext class="siguiente">Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" errorMessage="Cantidad De Producto">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Cantidad De Producto</ng-template>
                <div class="paso">
                <mat-form-field class="cantidad">
                  <input matInput  type="number" placeholder="Cantidad" formControlName="secondCtrl" required >
                </mat-form-field>
                <mat-form-field class="tipoCantidad">
                    <mat-select placeholder="Medida" formControlName="medidaControl" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let medida of medidas" [value]="medida.value">
                        {{medida.tipoMedida}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-button matStepperPrevious class="regresar">Regresar</button>
                  <button mat-button matStepperNext class="siguiente">Siguiente</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Dirección</ng-template>
              <div class="paso">
                  <mat-form-field class="departamento">
                    <input matInput placeholder="Departamento" formControlName="departamentoCtrl" required  >
                  </mat-form-field>
                  <mat-form-field class="ciudad">
                    <input matInput placeholder="Ciudad" formControlName="ciudadCtrl" required  >
                  </mat-form-field>
                  <mat-form-field class="direccion">
                      <input matInput placeholder="Dirección" formControlName="direccionCtrl" required  >
                    </mat-form-field>
                  </div>
              <div>
                <button mat-button matStepperPrevious class="regresar">Regresar</button>
                <button mat-button matStepperNext class="siguiente">Siguiente</button>
              </div>
            </form>
            </mat-step>
            <mat-step>
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Observaciones</ng-template>
                    <div class="paso">
                    <mat-form-field hintLabel="Máximo 200 caracteres" class="observaciones">
                        <textarea matInput #input maxlength="200" placeholder="Aquí puede escribir observaciones o comentarios que desee para informar a los productores
                        sobre lo que necesita" ></textarea>
                        <mat-hint >{{input.value?.length || 0}}/200</mat-hint>
                      </mat-form-field>
                    </div>
                    <div>
                      <button mat-button matStepperPrevious class="regresar">Regresar</button>
                      <button mat-button matStepperNext class="siguiente">Guardar</button>
                    </div>
                  </form>
            </mat-step>
          </mat-horizontal-stepper>
  </div>
</div>
</div>