body{
    background-color: green
}
.todo {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    background-image: url("https://www.cornandsoybeandigest.com/sites/cornandsoybeandigest.com/files/3.09%20soybeans-july1.jpg"); /* The image used */ /* Used if the image is unavailable */
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.inputs {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    margin-top: 5%;
    width: 100%;
    height: 8vh;
    background: none;
}

.inputs:focus {
    border-bottom: 2px solid #32936F;
    transition-duration: 0.5s;
    outline: 0px;
}

.contenedorDemanda {
    height: 90%;
    width: 40%;
    margin: 2% auto auto 10%;
    -webkit-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    background-color: white;
    opacity: 0.9;

    
}

.logoDemanda {
    float: left;
    background-color: #395E66;
    width: 100px;
    height: 100px;
    margin: -50px auto 0px 42%;
    border-radius: 18px 200px 200px 200px;
    -moz-border-radius: 18px 200px 200px 200px;
    -webkit-border-radius: 18px 200px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
    color: white;
    font-size: 50px
}

.contenedorInputs {
    height: 50%;
    width: 60%;
    margin-left: 16%;
    padding: 10px;
}

.inputsDemanda {
    height: 80%;
    width: 20%;
    margin-left: 2%;
    padding-left: 180px;
}

.informacion {
    padding: 2%;
    height: 440px;
    width: 300px;
    margin-left: 3%;
    border-radius: 5px;
    -webkit-box-shadow: 10px 3px 48px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 3px 48px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 3px 48px -11px rgba(0, 0, 0, 0.75);
}

.iconoInput{
    color: #395E66;
    margin: -40px 10px auto -35px; 
    float: left; 
    color:black; 
    width:40; 
    height:40;
    font-size: 30px;
}
.separador{
    margin-top: 3%;

}


  .form-wrapper {
    max-width: 30%;
    min-width: 300px;
    padding: 50px 30px 50px 30px;
    margin: 50px auto;   
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    cursor: auto;
  }
  
  .form-group {
    position:relative;  
    /* border: 2px solid green;
    border-radius: 5px; */
  }
  
  .form-label {
    cursor: auto;
    position: absolute;
    left: 0;
    top: 10px;
    color: #999;
    background-color: #fff;
    z-index: 10;
    transition: transform 200ms ease-out, font-size 200ms ease-out;
  }
  
  .focused .form-label {
    transform: translateY(-125%);
    font-size: 15px;
  }
  
  .form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 200ms ease-out;
  }
.form-input:focus {
      box-shadow: 0 2px 0 0 #32936F;
    }
  
  .form-input.filled {
    box-shadow: 0 2px 0 0 #32936F;
  }