<div style="width: 100%; height: 110vh; padding-top: 1%">
  <div style="margin-bottom: 50px; margin-left: 30%">
    <h1>Publica tu demanda</h1>
  </div>

  <div class="contenedorDemanda">
    <div class="logoDemanda">
      <i class="fa fa-users" aria-hidden="true"></i>
    </div>
    <div class="contenedorInputs">
      <div style="width: 100%;" class="row">

        <div class="col-sm-8" style="margin: 7% auto auto 19%">
          <input placeholder="Nombre del producto" class="inputs col-sm-12">
          <i class="fa fa-user-circle iconoInput" style="color: #395E66"></i>
        </div>

        <div class="col-sm-6 separador">
          <input placeholder="Cantidad producto" type="number" class="inputs">
          <i class="fa fa-key iconoInput" style="color: #395E66" aria-hidden="true"></i>
        </div>

        <div class="separador col-sm-6" style="margin-top: 5%">
          <h3 style="font-size: 18px">Unidad de medida:</h3>
          <select style="width: 100%">
            <option value="">seleccione...</option>
            <option value="KG">KG</option>
            <option value="ARROBA">ARROBA</option>
            <option value="BULTO">BULTO</option>
            <option value="audi">Audi</option>
          </select>
        </div>

        <!-- <div class="col-sm-6 separador">
          <input placeholder="Precio de producto" type="number" class="inputs">
          <i class="fa fa-user-circle iconoInput" style="color: #395E66"></i>
        </div> -->

        <div class="col-sm-6 separador">
          <input placeholder="Variedad de producto" class="inputs">
          <i class="fa fa-key iconoInput" style="color: #395E66" aria-hidden="true"></i>
        </div>
        
        <div class="col-sm-5 separador" style="margin-left: 10px;" >
            <input placeholder="Fecha estimada de comercialización" type="datetime" class="inputs">
            <i class="fa fa-key iconoInput" style="color: #395E66" aria-hidden="true"></i>
          </div>

        <div class="separador col-sm-6" style="margin-top: 5%">
            <h3 style="font-size: 18px">Departamento:</h3>
            <select style="width: 100%">
              <option value="">Departamento</option>
              <option value="KG">KG</option>
              <option value="ARROBA">ARROBA</option>
              <option value="BULTO">BULTO</option>
              <option value="audi">Audi</option>
            </select>
          </div>
  
          <div class="separador col-sm-6" style="margin-top: 5%">
              <h3 style="font-size: 18px">Ciudad:</h3>
              <select style="width: 100%">
                <option value="">Seleccione...</option>
                <option value="KG">KG</option>
                <option value="ARROBA">ARROBA</option>
                <option value="BULTO">BULTO</option>
                <option value="audi">Audi</option>
              </select>
            </div>
  
          <div class="col-sm-8" style="margin: auto auto 5% 19% " >
              <input placeholder="Dirección" class="inputs" >
              <i class="fa fa-user-circle iconoInput" style="color: #395E66"></i>
            </div>

        <div class="col-sm-12 separador">
            <h3 style="font-size: 18px">Descripción del producto:</h3>
          <textarea placeholder="Descripción del producto" style="width: 100%; height: 10vh;"></textarea>
        </div>
        <button type="button" style="margin: 5% auto auto 38%; font-size: 20px; background-color: #32936F" class="btn btn-success">Publicar</button>
        </div>
        
    </div>
  </div>
  <div class="informacion">
    <h2 style="text-align: center; width: 100%; border-bottom: 2px solid #32936F; padding-bottom: 3%">Sube tus fotos</h2>
    <ul style="margin-top: 17%">
      <li>
        Etiam nec odio eu risus tempus rutrum. Donec posuere purus a suscipit laoreet. Integer in augue et est faucibus sagittis.
        Vivamus eu leo a mi faucibus tempor. Fusce convallis enim eget dapibus consequat.
      </li>
    </ul>
  </div>
</div>