<div style="width: 100%; height: 80vh; padding-top: 1%">
  <div style="margin-bottom: 50px; margin-left: 30%">
    <h1>Registrate</h1>
  </div>

  <div class="contenedorDemanda">
    <div class="contenedorInputs">
      <div style="width: 100%;" class="row">
        <form action="" class="form row">

          <div class="form-group col-sm-6 separador" style="margin-left: 10px">
            <label class="form-label" for="first">Nombre del producto</label>
            <input id="first" class="form-input" type="text" [(ngModel)]="consumidor.cedula_consumidor" name="cedula_consumidor" />
          </div>

          <div class="form-group col-sm-6 separador" style="margin-left: 10px">
            <label class="form-label" for="second">Nombres</label>
            <input id="second" class="form-input" type="text" [(ngModel)]="consumidor.nombre_consumidor" name="cedula_consumidor" />
          </div>

          <div class="form-group col-sm-6 separador" style="margin-left: 10px">
            <label class="form-label" for="third">Apellidos</label>
            <input id="third" class="form-input" type="text" [(ngModel)]="consumidor.apellido_consumidor" name="apellido_consumidor"
            />
          </div>

          <div class="form-group col-sm-6 separador" style="margin-left: 10px">
            <label class="form-label" for="fourth">Correo electrónico</label>
            <input id="fourth" class="form-input" type="text" [(ngModel)]="consumidor.correo_consumidor" name="correo_consumidor" />
          </div>
          <!-- <div class="col-sm-6 separador">
              <input placeholder="Precio de producto" type="number" class="inputs">
              <i class="fa fa-user-circle iconoInput" style="color: #395E66"></i>
            </div> -->

          <div class="form-group col-sm-6 separador" style="margin-left: 10px">
            <label class="form-label" for="sixth">Teléfono</label>
            <input type="number" id="sixth" class="form-input" [(ngModel)]="consumidor.telefono_consumidor" name="telefono_consumidor"/>
          </div>

          <div class="form-group col-sm-6 separador" style="margin-left: 10px">
              <label class="form-label" for="sixth">Usuario</label>
              <input type="number" id="sixth" class="form-input" [(ngModel)]="consumidor.usuario_consumidor" name="usuario_consumidor"/>
          </div>

          <div class="form-group col-sm-6 separador" style="margin-left: 10px">
              <label class="form-label" for="sixth">Contraseña</label>
              <input type="number" id="sixth" class="form-input" [(ngModel)]="consumidor.contrasenia_consumidor" name="contrasenia_consumidor"/>
          </div>

          <button type="button" style="margin: 5% auto auto 38%; font-size: 20px; background-color: #32936F" role="button" (click)='crearConsumidor()'
            class="btn btn-success">Registrarme</button>
        </form>

      </div>

    </div>
  </div>
  <div class="informacion">
    <h2 style="text-align: center; width: 100%; border-bottom: 2px solid #32936F; padding-bottom: 3%">Sube tus fotos</h2>
    <ul style="margin-top: 17%">
      <li>
        Etiam nec odio eu risus tempus rutrum. Donec posuere purus a suscipit laoreet. Integer in augue et est faucibus sagittis.
        Vivamus eu leo a mi faucibus tempor. Fusce convallis enim eget dapibus consequat.
      </li>
    </ul>
  </div>
</div>

<div class="container" style="margin-top: 10%">
  <button type="button" (click)="setHabilitar()" class="btn btn-primary my-3">{{habilitar == true? 'Ocultar': 'Mostrar'}}</button>

  <div class="card border-primary mb-3">
    <div class="card-header">Consumidores</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Consumidores</h5>

      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/registro/form']">Crear Consumidores</button>
      </div>

      <table class="table table-bordered table-striped" *ngIf="habilitar == true">
        <thead>
          <tr>
            <th>cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consumidor of consumidores">
            <td>{{consumidor.cedula_consumidor}}</td>
            <td>{{consumidor.nombre_consumidor}}</td>
            <td>{{consumidor.apellido_consumidor}}</td>
            <td>{{consumidor.telefono_consumidor}}</td>
            <td>{{consumidor.correo_consumidor}}</td>
            <td>{{consumidor.usuario_consumidor}}</td>
            <td>{{consumidor.contrasenia_consumidor}}</td>
            <td>
              <button type="button" name="editar" [routerLink]="['/registro/form',consumidor.cedula_consumidor]" class="btn btn-primary">Editar</button>
            </td>
            <td>
              <button type="button" name="eliminar" (click)="eliminarConsumidor(consumidor)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




</div>