
<div class="general" >
  <div style="margin-top:6%;">

 <!-- <div class="logoContainer">
   <div class="logoDemanda">
   <i class="fa fa-users" aria-hidden="true"></i>
 </div>
</div> -->
    <!--Step-->
    
    <div class="steper">
        <div style="margin-left:30%;width: 100%;text-align: center">
            <h1 class="titulo">Registro</h1>
          </div>
        <mat-horizontal-stepper linear #stepper class="headerStep" style="padding-top: 10%"> 

            <mat-step [stepControl]="firstFormGroup" errorMessage="Producto Requerido">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Nombre</ng-template>
                <div class="paso">
                <mat-form-field class="nombre">
                  <input matInput placeholder="Nombres" [(ngModel)]="consumidor.nombre_consumidor" formControlName="nombreCtrl" required>
                </mat-form-field>
                <mat-form-field class="apellido">
                  <input matInput placeholder="Apellidos" [(ngModel)]="consumidor.apellido_consumidor" formControlName="apellidoCtrl" required>
                </mat-form-field>
                </div>
                <div>
                  <button mat-button matStepperNext class="siguiente">Siguiente</button>
                </div>
              </form>
            </mat-step>
            
            <mat-step [stepControl]="secondFormGroup" errorMessage="hola" >
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Correo Electronico</ng-template>
                <div class="paso">
                <mat-form-field class="correo">
                  <input matInput placeholder="Correo Electronico" [(ngModel)]="consumidor.correo_consumidor" formControlName="correoCtrl" required>
                </mat-form-field>
                </div>
                <div>
                  <button mat-button matStepperPrevious class="regresar">Regresar</button>
                  <button mat-button matStepperNext class="siguiente">Siguiente</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Telefono</ng-template>
              <div class="paso">
                  <mat-form-field class="telefono">
                    <input matInput type="number" placeholder="Telefono" [(ngModel)]="consumidor.telefono_consumidor" formControlName="telefonoCtrl" required >
                  </mat-form-field>
                  </div>
              <div>
                <button mat-button matStepperPrevious class="regresar">Regresar</button>
                <button mat-button matStepperNext class="siguiente">Siguiente</button>
              </div>
            </form>
            </mat-step>

           <mat-step [stepControl]="fourthFormGroup">
                <form [formGroup]="fourthFormGroup">
                    <ng-template matStepLabel>Cuenta</ng-template>
                    <div class="paso">
                        <mat-form-field class="usuario" >
                      <input matInput placeholder="Usuario" [(ngModel)]="consumidor.usuario_consumidor" formControlName="usuarioCtrl" required >
                        </mat-form-field>
                        <mat-form-field class="contrasenia">
                            <input matInput placeholder="Contraseña" [(ngModel)]="consumidor.contrasenia_consumidor" formControlName="contraseniaCtrl" required >
                              </mat-form-field>
                    </div>
                    <div>
                      <button mat-button matStepperPrevious class="regresar">Regresar</button>
                      <button mat-button matStepperNext class="siguiente" (click)="crearConsumidor()">Guardar</button>
                    </div>
                  </form>
            </mat-step> -->
          </mat-horizontal-stepper>
  </div>
</div>
</div>
<!--
  <div class="card border-primary mb-3">
    <div class="card-header">Consumidores</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Consumidores</h5>

      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/registro/form']">Crear Consumidores</button>
      </div>
      
      <table class="table table-bordered table-striped" *ngIf="habilitar == true">
        <thead>
          <tr>
            <th>cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consumidor of consumidores">
            <td>{{consumidor.cedula_consumidor}}</td>
            <td>{{consumidor.nombre_consumidor}}</td>
            <td>{{consumidor.apellido_consumidor}}</td>
            <td>{{consumidor.telefono_consumidor}}</td>
            <td>{{consumidor.correo_consumidor}}</td>
            <td>{{consumidor.usuario_consumidor}}</td>
            <td>{{consumidor.contrasenia_consumidor}}</td>
            <td>
              <button type="button" name="editar" [routerLink]="['/registro/form',consumidor.cedula_consumidor]" class="btn btn-primary">Editar</button>
            </td>
            <td>
              <button type="button" name="eliminar" (click)="eliminarConsumidor(consumidor)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>
  </div>
-->