.todo {
    width: 100%;
    height: 100%;
    background-image: url("http://www.pfcagro.com/images/king-agro-tractor.jpg?crc=261837421"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.inputs {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    margin-top: 5%;
    width: 100%;
    height: 8vh;
}

.inputs:focus {
    border-bottom: 2px solid #32936F;
    transition-duration: 1s;
    outline: 0px;
}

.contenedorLogin {
    position: relative;
    height: 85%;
    width: 30%;
    background-color: white;
    opacity: 0.8;
    margin-left: 20%;
    float: left;
    -webkit-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 30px -13px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    
}

.logoLogin {
    float: left;
    background-color: #395E66;
    width: 100px;
    height: 100px;
    margin: -50px auto 0px 42%;
    border-radius: 18px 200px 200px 200px;
    -moz-border-radius: 18px 200px 200px 200px;
    -webkit-border-radius: 18px 200px 200px 200px;
    border: 0px solid #000000;
    padding: 15px;
    color: white;
    font-size: 50px
}
.contenedorInputs {
    height: 60%;
    width: 70%;
    margin-left: 16%
}

.inputsLoguin {
    position: relative;
    height: 80%;
    width: 20%;
    margin-left: 2%;
    float: left;
    padding-left: 180px;
}

.informacion {
    float: left;
    padding: 2%;
    height: 85%;
    width: 300px;
    margin-left: 3%;
    border-radius: 5px;
    -webkit-box-shadow: 10px 3px 48px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 3px 48px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 3px 48px -11px rgba(0, 0, 0, 0.75);
    background-color: white;
    opacity: 0.8;
}

.iconoInput{
    position: relative; 
    color: #395E66;
    margin: -40px 10px auto -35px; 
    float: left; color:black; 
    width:40; 
    height:40;
    font-size: 30px;
}