<div style="width: 100%; height: 85vh; padding-top: 5%">
  <div class="contenedorLogin">
    <div class="logoLogin"></div>
    <h2 style="text-align: center; margin-top: 10%">Iniciar sesión</h2>
    <div class="contenedorInputs">
      <div style="width: 80%; margin-left: 10%">
        <input placeholder="Usuario..." class="inputs" style="margin-top:10%">
        <input placeholder="Contraseña..." class="inputs">
      </div>
    </div>
    <div style=" width: 70%; height: 15%; margin: 1% auto auto 16%">
    <ul>
        <a>Ya tienes una cuenta?, Inicia sesión</a>
    </ul>
  </div>
  </div>
  <div style="float: left;height: 440px;width: 300px; margin-left: 3%">
    <h2 style="text-align: center;">Información</h2>
  </div>
</div>