<div class="col-sm-12">
  <div class="col-sm-12 row">
    <div class="col-sm-6">
      <h1 class="titulo" id="tituloProducto">Producto</h1>

      <div class="informacion">
        <h2 style="text-align: center; width: 100%; border-bottom: 2px solid #32936F; padding-bottom: 3%">Informaci&oacute;n
          producto</h2>
        <ul style="margin-top: 17%">
          <li>
            Etiam nec odio eu risus tempus rutrum. Donec posuere purus a suscipit laoreet. Integer in augue et est
            faucibus sagittis.
            Vivamus eu leo a mi faucibus tempor. Fusce convallis enim eget dapibus consequat.
          </li>
        </ul>
      </div>
      <div class="informacion">
        <h2 style="text-align: center; width: 100%; border-bottom: 2px solid #32936F; padding-bottom: 3%">Informaci&oacute;n
          proveedor</h2>
        <ul style="margin-top: 17%">
          <li>
            Etiam nec odio eu risus tempus rutrum. Donec posuere purus a suscipit laoreet. Integer in augue et est
            faucibus sagittis.
            Vivamus eu leo a mi faucibus tempor. Fusce convallis enim eget dapibus consequat.
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6  imagen">
      <img style="width: 630px ; height: 580px;"  src="https://pm1.narvii.com/6804/bae0a85385953d5a9913b66edddd3499e2d385b1v2_hq.jpg" alt="">
    </div>
  </div>


  <div class="col-sm-12 row">
    <div class="col-sm-6">
      <div class="informacion">
        <h2 style="text-align: center; width: 100%; border-bottom: 2px solid #32936F; padding-bottom: 3%">Ubicaci&oacute;n</h2>
        <ul style="margin-top: 17%">
          <li>
            Etiam nec odio eu risus tempus rutrum. Donec posuere purus a suscipit laoreet. Integer in augue et est
            faucibus sagittis.
            Vivamus eu leo a mi faucibus tempor. Fusce convallis enim eget dapibus consequat.
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="informacion">
        <h2 style="text-align: center; width: 100%; border-bottom: 2px solid #32936F; padding-bottom: 3%">Ubicaci&oacute;n</h2>
        <ul style="margin-top: 17%">
          <li>
            Etiam nec odio eu risus tempus rutrum. Donec posuere purus a suscipit laoreet. Integer in augue et est
            faucibus sagittis.
            Vivamus eu leo a mi faucibus tempor. Fusce convallis enim eget dapibus consequat.
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="col-sm-12">
    <button>
      contactar
    </button>
  </div>

</div>