<div class="codepen">
  <div class="Fondo"></div>
  <div class="fotoPerfil circulo">
    <span>
      <img src="https://images.larepublica.co/s3/412/cms/2018/06/05103448/Campesino.jpg" alt="Perfil" />
    </span>
  </div>
  <div class="container" style="text-align: center">
    <h2 class="tituloPerfil">{{productor.nombre_productor}} {{productor.apellido_productor}}</h2>
    <p class="datosPersonales">
      <b>Teléfono: </b>{{productor.telefono_productor}}
      <b>|</b>
      <b>Correo electrónico: </b>{{productor.correo_productor}}
      <b>|</b>
      <b>Sexo: </b>{{productor.sexo_productor}}
    </p>
  </div>
  <hr>
  <div style="background: red; width: 100%; height: 100%;">

    <div class="h">
      <img style="height: 310px; width: 300px; border-radius: 20px" src="./../../../../assets/img/MANGO.jpg" alt="Notebook">
      <div class="content" style="width: 300px">
        <h1>Heading</h1>
        <p>Lorem ipsum..</p>
        <button class="botonVerMas">Ver más</button>
      </div>
    </div>


  </div>
</div>