<div class="container" >
  <h2>Productores</h2>
  <div style=" width: 100%; margin: 5% 0 5% 0">
    <div class="row container">
      <div class="field col-sm-4" style="width: 100%">
        <input type="text" class="btnFilter" name="filtroProductor" [(ngModel)]="term" id="filtroProductor" placeholder="">
        <label for="filtroProductor">Nombre productor</label>
      </div>

      <div class="field col-sm-4" style="width: 100%">
        <input type="text" class="btnFilter" name="apellido_productor" [(ngModel)]="ape" id="apellido_productor" placeholder="">
        <label for="apellido_productor">Apellido productor</label>
      </div>
    
    <select aria-placeholder="sexo" class="custom-select col-sm-2"  style="display: inline-block; width: 10%; margin-left: 2%" name="sex"
      [(ngModel)]="sex">
      <option selected value="">Todos</option>
      <option value="Hombre">Hombre</option>
      <option value="Mujer">Mujer</option>
    </select>
  </div>
</div>

  <div style="width: 100%; height: 100%;" class="container" *ngFor="let productor of productores | filtroProductor:term | apellidoProductor:ape | sexoProductor:sex">

    <div style="width: 20%; height: 80%; display: inline-block">
      <div style="width: 100px; height: 100px; padding: 2%; border: 1px solid gray;  border-radius: 50%" class="container">
        <img style="width: 100%; height: 100%; border-radius: 50%" src="https://images.larepublica.co/s3/412/cms/2018/06/05103448/Campesino.jpg">
        <hr>
        <button type="button" style="width: 100%" class="botonVerPerfil" [routerLink]="['/productor', productor.cedula_productor]">Ver perfil</button>
      </div>
    </div>

    <div style="text-align: left; display: inline-block; width: 40%">
      <h2>{{productor.nombre_productor}} {{productor.apellido_productor}}</h2>
      <hr>
      <p>correo electrónico</p>
      <h3>{{productor.correo_productor}}</h3>
    </div>
    <hr>

  </div>